**
 * Body CSS
 */
html,
body {
  margin: 0;
  overflow: hidden;
  height:100%;
  
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow-y: scroll; 
    background-image:url("./bg.png");
    background-repeat:no-repeat;
  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 0;
  }
}


#left-scroll {
  overflow-y: scroll; 
}


li {
  font-size: 14px;
  margin-left: 10px;
  list-style-type: circle;
  color: black; /* text color */

}

#right {
  height:100%;
}

#right-bis {
  margin-left: 32px;
  margin-right: 32px;
}

#slider { 
	width: 300px;
 }

#map {
  height: 800px;
}

/**
 * Layout CSS
 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

.mui-divider {
	width: 250px;
}

#searchResult {
    position: absolute;
    overflow-y: scroll;
}


@media (min-width: 768px) {

  #sidedrawer {
    transform: translate(300px);
  }

  #content-wrapper {
    margin-left: 350px;
  }

  #footer {
    margin-left: 325px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}






